pip
setuptools
pandas
numpy
matplotlib
jupyter
scikit-learn
scikit-plot
xgboost
mlxtend
seaborn
chardet
fuzzywuzzy
kaggle
imblearn
plotly
pandas_profiling
shap
lime
eli5
optuna
yellowbrick
ydata_profiling
patchworklib
plotnine
threadpoolctl==3.1.0
#git+https://github.com/Kaggle/learntools.git